In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_csv('cleveland.csv')
df = pd.read_csv('switzerland.csv')

In [3]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,32,1,1,95.0,0,NaN,0.0,127.0,0.0,0.7,1.0,NaN,NaN,1
1,34,1,4,115.0,0,NaN,NaN,154.0,0.0,0.2,1.0,NaN,NaN,1
2,35,1,4,NaN,0,NaN,0.0,130.0,1.0,NaN,NaN,NaN,7.0,1
3,36,1,4,110.0,0,NaN,0.0,125.0,1.0,1.0,2.0,NaN,6.0,1
4,38,0,4,105.0,0,NaN,0.0,166.0,0.0,2.8,1.0,NaN,NaN,1

In [4]:
df_missing = df.isna()
df_num_missing = df_missing.sum()
df_num_missing

age           0
sex           0
cp            0
trestbps      2
chol          0
fbs          75
restecg       1
thalach       1
exang         1
oldpeak       6
slope        17
ca          118
thal         52
target        0
dtype: int64

In [5]:
df.isna().mean().round(4) * 100

age          0.00
sex          0.00
cp           0.00
trestbps     1.63
chol         0.00
fbs         60.98
restecg      0.81
thalach      0.81
exang        0.81
oldpeak      4.88
slope       13.82
ca          95.93
thal        42.28
target       0.00
dtype: float64

In [6]:
df.drop(['slope', 'ca', 'thal', 'fbs'], axis = 1,inplace=True)
df.dropna(inplace=True)
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116 entries, 0 to 122
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       116 non-null    int64
 1   sex       116 non-null    int64
 2   cp        116 non-null    int64
 3   trestbps  116 non-null    float64
 4   chol      116 non-null    int64
 5   restecg   116 non-null    float64
 6   thalach   116 non-null    float64
 7   exang     116 non-null    float64
 8   oldpeak   116 non-null    float64
 9   target    116 non-null    int64
dtypes: float64(5), int64(5)
memory usage: 10.0 KB

(116, 10)

In [7]:
df['target'].value_counts()

1    108
0      8
Name: target, dtype: int64

In [8]:
df.columns
feature_df = df[['age', 'sex', 'cp', 'trestbps', 'chol', 'restecg', 'thalach', 'exang', 'oldpeak']]

X = np.asarray(feature_df)
Y = np.asanyarray(df['target'])

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 4)
X_test.shape

(24, 9)

In [10]:
from sklearn import svm

classifier = svm.SVC(kernel = 'linear', gamma = 'auto' ,C = 4)
classifier.fit(X_train, Y_train)
y_predict = classifier.predict(X_test)

In [11]:
from sklearn.metrics import classification_report
print(classification_report(Y_test, y_predict))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         2
           1       0.92      1.00      0.96        22

    accuracy                           0.92        24
   macro avg       0.46      0.50      0.48        24
weighted avg       0.84      0.92      0.88        24

C:\Users\prate\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))